.block-thank {
    background: linear-gradient(to left, white, lightgrey);
}
.block-thank-slogan {
    color: #000000;
}
.block-first {
    background: url(../images/header_bg.jpg) no-repeat;
    background-size: cover;
    padding: 10px 0;
}
.block-first-slogan {
    color: #ffffff;
}
.text_readable {
    font-size: 1.2rem;
}
.text_painted {
    color:#bf3744;
}
.block-third {
    background: url(../images/third_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.block-fourth{
    background: linear-gradient(to right, white, lightgrey);
}
.block-sixth {
    background: url(../images/sixth_bg.jpg) no-repeat;
    background-size: cover;
}
.block-eighth {
    background: rgba(185, 221, 245);
    position: relative;
    padding-top: 65px;
    background-size: inherit;
}
.thankm{
    height: auto;
}
@media (min-width: 992px) {
    .thankm{
        height: 100%;
    }
    .block-eighth:before {
        background: none;
    }
    .block-eighth {
        background: url(../images/bottom_bg.jpg) no-repeat;
        background-size: cover;
    }
}
.btn-outline-danger {
    color: #ffffff;
}
.form-control {
    height: 44px;
    padding: 12.5px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #212c31;
    background-color: #d5dee2;
    border: 0;
    border-radius: 4px;
}
label.error {
    font-size: 11px;
    color: #dc3545;
}
input.error {
    color: #ffffff;
    background: #dc3545;
}
.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}
.row-flex > div[class*='col-'] {
    margin:-.2px;
}
.container-fluid,
.row-fluid { height: inherit; }
.thank_main {
    height: 100%;
}

